body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
section{
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}
section header{
  display: flex;
  width: 100%;
  top: 0;
  justify-content: flex-end;
  position: absolute;
  padding: 20px;
}
section header ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
section header ul li{
  list-style: none;
  margin-left: 20px;
}
section header ul li a{
  text-decoration: none;
  color: #111;
  font-size: 13px;
}
section header ul li button{
  background: #4584ef;
  color: #fff;
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 8px 14px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
section .main{
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .main .searchbox{
  width: 100%;
  position: relative;
  margin-top: 20px;
}
section .main .searchbox .search{
  width: 100%;
  padding: 13px;
  padding-left: 45px;
  padding-right: 5px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}
section .main .searchbox .icons{
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  vertical-align: middle;
}
section .main .button{
  margin-top: 20px;
}
section .main .button button{
  margin: 0 5px;
  padding: 12px 20px;
  color: #555;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 1px solid transparent;
  outline: none;
}
section .main .button button:hover{
  border-radius: 1px solid #ccc;
}
section .main .lang{
  margin-top: 20px;
}
section .footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f2f2f2;
}
section .footer .row{
  justify-content: space-between;
  display: flex;
  border-top: 1px solid rgb(0, 0, 0, 0.05);
}
section .footer .row ul{
  display: flex;
}
section .footer .row ul li{
  list-style: none;
}
section .footer .row ul li a{
  text-decoration: none;
  font-size: 14px;
  margin-right: 25px;
  color: #5f6368;
}
/* mobile view. */
@media (max-width:768px){
  section .main .searchbox .search{
    width: 81%;
    margin-left: 7px;
  }
  section .main .searchbox .icons{
    width: 84%;
  }
  section .footer .row ul{
    display: block;
  }
  section header ul li button{
    background-color: blue;
  }
}
/* desktop view */
@media (min-width:1024px){}
/* tablet view */
@media (min-width:769px) and (max-width:1023px){
  section header ul li button{
    background-color: tomato;
  }
}